@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading-title {
    @apply font-manrope text-3xl font-bold leading-normal tracking-tight text-deepGreen sm:text-5xl lg:text-4xl xl:text-5xl;
  }

  .subtitle {
    @apply font-manrope text-base font-light text-deepGreen lg:text-lg;
  }
  .subtitle-about {
    @apply font-manrope text-base font-semibold text-deepGreen;
  }

  .heading-subtitle {
    @apply font-manrope text-2xl font-semibold tracking-normal text-deepGreen lg:text-3xl;
  }

  .title {
    @apply font-manrope text-xl font-semibold tracking-tight text-deepGreen lg:text-2xl xl:text-3xl;
  }
}
.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #e2e8f0; /* Background of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #c3c3c3; /* Color of the scrollbar thumb */
  border-radius: 9999px; /* Make the scrollbar thumb rounded */
  border: 2px solid transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #4a5568; /* Darker color on hover */
}
.box-shadow {
  -webkit-box-shadow: 2px 6px 9px 0px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 2px 6px 9px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 2px 6px 9px 0px rgba(0, 0, 0, 0.09);
}

body::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
  background-color: #fff;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display: none;
}

.swiper-scrollbar-drag {
  border: 3px solid #1bab92;
  border-radius: 3px;
  display: relative;
}

.swiper-scrollbar-drag:hover {
  border: 4px solid #1bab92;
}

.swiper-button-prev {
  position: absolute;
  right: auto !important;
  left: calc(50% - 130px);
  top: auto !important;
  bottom: -8px !important;
}
.swiper-button-next {
  right: calc(50% - 130px) !important;
  top: auto !important;
  bottom: -8px !important;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  height: 40px !important;
  width: 20px !important;
  font-size: 20px;
  color: #1bab92;
}

.swiper-pagination-bullet {
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 3px;
  line-height: 30px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: #dddddd;
  transform: none !important;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #1bab92;
  transform: none !important;
}
